*{
	margin:0;
	padding: 0;
    font-family: 微软雅黑;
	
}
body{
	overflow-x: hidden;
}
a{
	text-decoration: none;
	font-size:12px ;
	color: #000;
}

li{
	list-style: none;
	cursor:pointer;
}
#wrap-header{
	width:100%;
	height:31px;
	background: url(../img/header/bg.jpg) repeat-x;
}
.header{
	width: 1200px;
	height:31px;
	margin: 0 auto;
}

.header-left{
	width:300px;
	height:31px;
	
}
.header-left a{
	float: left;
	width: 58px;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    padding: 0 20px;   
    font-size: 14px;   
    height:31px;
    line-height: 31px;
    text-align: center;
    
}
.a1{
	background: #fff;
}
.a2{
	background: #B90000;
	color: #FFFFFF;
	font-weight: bolder;
}
.a3{
	display: block;
	width:68px;
	position: relative;
}
.a3 .strong{
	width:10px;
	height:14px;
	float: left;
	position: absolute;
	left:8px;
	top:10px;
	background: url(../img/header/sj.png) no-repeat;
}
 b{
	width:8px;
	height:8px;
	position: absolute;
	background: url(../img/header/jt.jpg) no-repeat ;
}

.a3 b{
	right:10px;
	top:11px;
}

li b{
	margin-left: 3px;
	
	top:13px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.list1{
	
	width:400px;
	
	
}
.list1 li{
	float: left;
	list-style: none;
	height:31px;
	padding: 0 15px;
	text-align: center;
	line-height: 31px;
	font-size: 12px;
}
.header-right{
	width:260px;
	height:31px;
	margin-right: 20px;
}


.header-center{
	margin-left: 520px;
}
.header-center a{
	width:30px;
	height:12px;
	float: left;
	line-height: 12px;
	text-align: center;
	color: red;
	margin-top:10px;
	padding: 0 5px;
}
.a4{
	border-right: 1px solid #000;
}

.phone_con{
	width:250px;
	height:169px;
	box-shadow: 2px 2px 4px #CCC;
	position: absolute;
	left:0px;
	top:30px;
	float: left;
	border: 1px solid #ccc;
	border-top: none;	
	display: none;
	z-index: 10000;
	background: #fff;
	
}

.ewm{
	background: url(../img/header/ewm.jpg) no-repeat 12px 12px;
	width:110px;
	height:115px;
	left: 10px;
	top:10px;
}
.btn{
	width:116px;
	height:34px;
	position: absolute;
	right:15px;
}
.app{
	background: url(../img/header/app.png) no-repeat;
	top:20px;
}
.android{
	background: url(../img/header/and.png) no-repeat;
	top:60px;
}
.phone_con .tip{
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #666;
	font-size: 18px;
	
}

.phone_con .tip strong{
	color: #000;
	background: none;
}
.li1{
	position: relative;
}
.sc{
	width:78px;
	height:31px;
	line-height: 31px;
	font-size:12px ;
	border: 1px solid #ccc;
	position: absolute;
	left: -1px;
	top:31px;
	text-align: center;
	border-top:0 ;
	display: none;
	cursor: pointer;
	background: #fff;
}
.li3{
	position: relative;
	
}
.more{
	width:65px;
	height:40px;
	padding: 7px 10px;
	font-size: 12px;
	line-height: 20px;
	border: 1px solid #ccc;
	position: absolute;
	left: -1px;
	top:31px;
	text-align: left;
	display: none;
	cursor: pointer;
	border-top: 0;
	background: #fff;
	z-index: 300000000;
}
.li2{
	position: relative;
	
}
.li2 .gg{
	width:230px;
	height:130px;
	border: 1px solid #ccc;
	border-top: 0;
	position: absolute;	
	left:-187px;
	padding: 10px 5px;
	display: none;
	cursor: pointer;
	background: #fff;
	z-index: 100000;
}
 
.notice li {
	font-size: 12px;
  	line-height: 25px;
  	height: 25px;
  }
.color{
	color: red;
}

#wrap-logo{
	width:100%;
	height:126px;
	background: #F8F8F8;
}
.logo{
	width:1200px;
	margin:0 auto;
}
.logo1{
	width:150px;
	height:85px;
	float: left;
	text-indent: -999px;
	background: url(../img/header/logo.jpg) no-repeat;
	position: absolute;
	left:60px;
	top:53px;
	
}

.input{
	height:64px;
	width:529px;
	position: absolute;
	left:346px;
	top:76px;
	
}

.text{
	width:440px;
	height:31px;
	border: 2px solid #000;
	float: left;
}
.ss{
	width:83px;
	height:35px;	
	border: 0;
	float: left;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	background: #000000;
	
}

.input_list{
	height:12px;
	
}
.input_list li{
	float: left;
	font-size: 12px;
	height:12px;
	line-height: 12px;
	text-align: center;
	padding: 0 6px;
	color: #666;
	border-right:1px solid #666 ;
	margin-top:13px ;
	cursor: pointer;
}
.input_list li:first-child{
	color: red;
}
.input_list li:last-child{
	border: 0;
}
.ssbg{
	width:20px;
	height: 17px;
	display: block;
	background: url(../img/header/ss.jpg) no-repeat;
	position: absolute;
	left:455px;
	top:9px;
	cursor: pointer;
}
.buy{
	width:146px;
	height:33px;
	border: 1px solid #D1D3D4;
	position: absolute;
	left:730px;
	top:0;
    background: #fff;
    cursor: pointer;
}
.buy em{
	width:19px;
	height:33px;
	display: block;
	background: url(../img/header/car.jpg) no-repeat;
	margin-left: 10px;
	margin-top: 7px;
	float: left;
	
}
.buy span{	
	width:108px;
	height:33px;
	background: url(../img/header/jt.jpg) no-repeat right center;
	font-size: 12px;
	text-align: center;
	float: left;
	line-height: 34px;

}
i{
	font-style: normal;
	color: red;
}
.p1{
	font-size: 13px;                                               px;
	color: #e60012;
	float: right;
	margin-right: -335px;
	margin-top: 10px;
    
	
}

.buyCar{
	width:320px;
	height:45px;
	line-height: 45px;
	font-size: 12px;
	background: #fff;
	position: absolute;
	left:556px;
	top:35px;
	text-align: center;
	border: 1px solid #D1D3D4;
	display: none;
	box-shadow: 2px 2px 5px #666;
	
}


#wrap-nav{
	width:  100%;
	background: #F8F8F8;
	height:43px;
	border-bottom:2px solid #000 ;
}
.nav{
	width:1200px;
	margin: 0 auto;
}
.all{
	width:203px;
	height:43px;
	background: #000;
	color:#fff;
	line-height: 43px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	float: left;
	position:absolute;
	left:32px;
	top:157px;
	letter-spacing: 2px;
	
	
}
.nav_list{
   position: absolute;
	left: 235px;
	top:157px;
}
.nav_list li a{
	font-size: 17px;
	font-weight: bolder;
	color: #000;	
	float: left;
	height:43px;
	line-height: 43px;
	cursor: pointer;
	
	
}
.nav_list li {
	font-size: 17px;
	font-weight: bolder;
	color: #000;
	padding:  0 15px;
	float: left;
	height:43px;
	line-height: 43px;
	cursor: pointer;
	
	
}
.nav_list .last {
	
	margin-left: 450px;
}

.nav_list .nav_list_li1 a{
	color: red;
}


#float_down{
	width:100%;
	height:158px;
	background: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
	bottom: 0;
	left: 0;
	
}
.float_down_fl{
	width:500px;
	height:158px;
	background: #000;
	margin-left: 150px;
	float: left;
}
.float_down_center{
	width:271px;
	height:252px;
	background: url(../img/header/1/erweima-bj.png) no-repeat left top;
	float: left;
	position: absolute;
    top: -115px;
    right: 320px;
	
}
.float_down_center img{
	margin-top: 30px;
	margin-left: 10px;
	
	
}

.close_1{
	float: right;
	height:21px;
	width: 21px;
	background: url(../img/header/1/close.png);
	margin-right: 15px;
	margin-top: 6px;
}

.float_down_fr{
	float: right;
	margin-right: 171px;
	margin-top: 32px;
}
.float_down_fr a{
	width:146px;
	height:39px;
	display: block;
}
.float_down_fr .app_1{
	background: url(../img/header/1/app-btn.png) no-repeat;
}
.float_down_fr .and_1{
	background: url(../img/header/1/app-btn.png) no-repeat left -59px;
	margin-top: 14px;
}
