
#banner_sport{
	position: absolute;
	left:75px;
	display: none;
}

#wrap-center{
	width: 100%;
	margin:0 auto;
	margin-top:38px;
	width:1190px;
	height:281px;
}

#wrap-center .center img{
	width:1190px;
	height:281px;
	
}
#wrap-center .center .Map area{
	cursor: pointer;
	
	
}
#wrap-center .center{
	width:1190px;
	height:281px;
}

#sport_content {
	width: 100%;
	margin-top: 35px;
}
#sport_content .div{
	width: 1190px;
	margin: 0 auto;
	background: #fff;
}
.div .brand{
	width:1128px;
	height:152px;
	border: 1px solid #d1d3d4;
	padding: 0px 30px;

	
}
.div .brand a{
	width: 100px;
	height: 50px;
	float: left;
	margin-right: 12px;
	margin-top:20px;
	text-align: center;	
}

.new{
	width:1190px;
	margin: 0 auto;
	margin-top: 32px;
}
.new .content_title{
	border-bottom: 2px solid #666;
	height:32px;
	line-height: 32px;
}
.content_title .rq{
	float: left;
	height:32px;
	line-height: 32px;
}
.content_title .new_list{
	float: right;
	border: 1px solid #bbbbbb;
	border-bottom: 0;
	height:31px;
}
.content_title .new_list li{
	float: left;
	width:137px;
	height:31px;
	line-height: 31px;
	border-right:1px solid #bbb ;
	text-align: center;

}
.content_title .new_list li a{
	height:31px;
	line-height: 31px;
	width:137px;
	display: block;
	font-size: 13px;		
	color: #666;
}

.new_product{
	width:1190px;
	margin: 0 auto;
	padding: 0;
	
}
.new_product .product1{
	width:1190px;
	height:300px;

	
}
.new_product .product1 dl{
	float: left;
	margin-right: 5px;
}
.new_product .product1 dl .time{
	top:240px;
	
}
.new_product .product1 dl dd{
	margin-top: 15px;
	text-indent: 5px;
}
.new_product .block{
	display: none;
}
.product1 dt .time1{
	background:#BDDA71;
}
.time1 span{
	float: right;
}

#new_sp  #select1 {
	background: #666;
	color: #fff;
}
#new_sp  #select1 a{
	color: #fff;
}


#new_sp1  #select2 {
	background: #666;
	color: #fff;
}
#new_sp1  #select2 a{
	color: #fff;
}


#new_sp2  #select3 {
	background: #666;
	color: #fff;
}
#new_sp2  #select3 a{
	color: #fff;
}

#new_sp3  #select4 {
	background: #666;
	color: #fff;
}
#new_sp3  #select4 a{
	color: #fff;
}

#new_sp4  #select5 {
	background: #666;
	color: #fff;
}
#new_sp4  #select5 a{
	color: #fff;
}


.ydx,.ydf,.ydb,.bag{
	margin-top: 80px;
}

#dm{
	background: #ABABAB;
}

#dm span{
	float: right;
	margin-right: 5px;
}

.good{
	margin-top:70px;
}
