html{
	overflow-x: hidden;
}

#adidas_header{
	width: 100%;
	overflow: hidden;
}
.adidas{
	width:1200px;
	margin: 0 auto;
}
.adidas .ad_locantion{
	font-size: 12px;
	height:30px;
	line-height: 30px;
}
.adidas .ad_locantion a{
	color:#3366cc;
}

.adidas_left{
	width:483px;
	float: left;
	position: relative;
	
}
.adidas_left .ad_show{
	width:483px;
	margin-bottom: 15px;
	border: 1px solid #eaeaea;
	height:483px;
	position: relative;
	
}
.adidas_left .ad_show img{
	width:483px;
	height:483px;
	
}

.adidas_left .ad_show a{
	display: block;
	color:#aaa;
	background: url(../img/adidas/title/1/images/adidas_18.gif) no-repeat 3px center #fff;
	width:102px;
	height:20px;
	line-height: 20px;
	position: absolute;
	bottom: 0;
	right:0;
	text-align: center;
	
	
}

.adidas_left .ad_small .ad_list .ad_select{
	border: 1px solid red;
	position: relative;
	
}

.adidas_left .ad_small .ad_list .ad_select span{
	width:9px;
	height:5px;
	background: url(../img/adidas/title/1/images/adidas_04.gif);
	position: absolute;
	left:27px;
	top:-5px;
}

/*.adidas_left .ad_show .ad_list{
	width:482px;
	height:80px;
	margin-top: 10px;
}*/

.adidas_left .ad_list li{
	float: left;
	border: 1px solid #dddddd;
	width:64px;
	height:64px;
	margin-right: 3px;
	text-align: center;
	line-height: 64px;
}

.adidas_left .ad_list .last{
	margin-right:0;	
}

.adidas_left .ad_list  li img{
	margin-top: 2px;
}

.ad_down{
	width: 100%;
	height:35px;
	line-height: 35px;
	position: relative;
}

.ad_down span{
	color: #aaa;
	font-size: 12px;
	float: left;
	
}
.ad_down .share a{
	float: left;
	height:35px;
	line-height: 35px;
	font-size:12px ;
	color: #666;
	margin-left: 10px;
	width:40px;
	text-indent: 15px;
}
.ad_down .share a:first-child{
	background: url(../img/adidas/title/1/images/adidas_36.gif) no-repeat 0 12px;
}

.ad_down .share a:last-child{
	background: url(../img/adidas/title/1/images/adidas_33.gif) no-repeat 0 12px;
	margin-left: 20px;
}

.ad_down .share{
	margin-left: 370px;
}


.fdj_big{
	width:400px;
	height:400px;
	border: 1px solid #ccc;
	background: url(../img/adidas/title/1/big/100503222_01_m.jpg) no-repeat #fff;
	z-index: 10000;
	position: absolute;
	left:490px;
	top:0;
	display: none;
	background-size:960px 960px ;
	

}

.faj_small{
	width:200px;
	height:200px;
	background: #ccc;
	opacity: 0.3;
	filter:alpha(opacity=30);
	position: absolute;
	left: 0;
	top:0;
	display: none;
}

.share_list{
	width:228px;
	height:245px;
	border: 1px solid #eaeaea;
	position: absolute;
	left:395px;
	top:-180px;
	display: none;
	background: #fff;
	z-index: 1000;
}

.share_list p{
	width:100%;
	height:30px;
	line-height: 30px;
	background: #f6f6f6;
	color:#6d6e70;
	font-size: 12px;
	font-weight: bold;
	text-indent: 5px;
}
.share_list_down{
	
	margin: 6px  0px  6px  10px;
	
}

.share_list_down li{
	float: left;
	width:92px;
	height:34px;
	line-height: 34px;
	text-indent: 30px;
	position: relative;
}

.share_list_down li a{
	float: left;
	width:92px;
	height:34px;
	line-height: 34px;
	
}

.share_list_down li span{
	width:16px;
	height:16px;
	position: absolute;
	left: 5px;
	top:7px;
	
}

.share_list_down li:nth-child(1) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_03.gif) no-repeat;
	
}

.share_list_down li:nth-child(2) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_05.gif) no-repeat;
	
}

.share_list_down li:nth-child(3) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_09.gif) no-repeat;
	
}

.share_list_down li:nth-child(4) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_10.gif) no-repeat;
	
}

.share_list_down li:nth-child(5) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_13.gif) no-repeat  ;
	
}

.share_list_down li:nth-child(6) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_14.gif) no-repeat ;
	
}
.share_list_down li:nth-child(7) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_17.gif) no-repeat ;
	
}

.share_list_down li:nth-child(8) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_18.gif) no-repeat ;
	
}

.share_list_down li:nth-child(9) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_21.gif) no-repeat;
	
}
.share_list_down li:nth-child(10) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_22.gif) no-repeat ;
	
}

.share_list_down li:nth-child(11) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_25.gif) no-repeat;
	
}

.share_list_down li:nth-child(12) span{
	
	background: url(../img/adidas/title/1/images/adidas_06_26.gif) no-repeat;
	
}


.adidas_center{
	margin-left: 18px;
	width:492px;
	float: left;
	
}
.adidas_center h3{
	font-size: 17px;
	color: #666;
	height:29px;
	line-height: 29px;
}

.adidas_center .blue{
	font-size: 14px;
	color: #3366cc;
	text-decoration: underline;
	height:38px;
	line-height: 38px;
	
}
.adidas_center h2{
	
	color: red;
	font-size: 25px;
	height:63px;
	line-height: 63px;
}
.adidas_center h2 span{	
	font-size: 12px;
	color: #aaa;
	text-decoration: line-through;
	font-weight: normal;
	margin-left: 10px;
	
}

.adidas_center .pf{
	height:46px;
	line-height: 46px;
}
.adidas_center .pf a{
	float: left;
}
.adidas_center .pf a:first-child{
	width:140px;
	background: url(../img/adidas/title/1/images/ad.png)  no-repeat right 10px center;
}

.adidas_center .pf a:last-child{
	float: right;
	width:70px;
	text-align: right;
	background: url(../img/adidas/title/1/images/adidas_03.gif)  no-repeat 0 center;
	
}
.adidas_center .pf .small1{
	color: #3366cc;
	
}

.adidas_center .ad_change{
	height:247px;
	width:483px;
	padding-top: 24px;
	padding-left: 12px;
	background: #f8f8f8;
	position: relative;
}

.ad_change .change1{
	overflow: hidden;
	margin-bottom: 17px;
}
.ad_change span{
	float: left;
	font-size: 12px;
	
	
}
.ad_change .change1 .fu{
	width:44px;
	height:44px;
	float: left;
	/*border: 1px solid #ddd;*/
	border: 1px solid red;
	margin-left: 14px;
	background: url(../img/adidas/title/1/small/100508015_01_c.jpg) no-repeat;
	position: relative;
}

.ad_change .change1 .fu em{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 14px;
	height:14px;
	display: block;
	background: url(../img/adidas/title/1/images/span.png);

}

.ad_change i{
	display: block;
	width:162px;
	height:162px;
	background: url(../img/adidas/title/1/small/none.jpg);
	position: absolute;
	left: 50px;
	top:70px;
	display: none;
	z-index: 1000000000;
}

.ad_change .size{
	width:305px;
	overflow: hidden;
}
.ad_change .size a{
	
	width:34px;
	height:20px;
	border: 1px solid #ddd;
	float: left;
	text-align: center;
	line-height: 20px;
	margin-left: 15px;
	

	
}

.ad_change .size .last{
	
	margin-top:10px ;
	margin-left: 40px;
}
.ad_change .size .last1{
	margin-left: 15px;
	
}

.ad_change .size .size_1{
	width:100px;
	float: right;
	height:45px;
	line-height: 45px;
	font-size: 12px;
	margin-top: 32px;
	color: #666;
	background: url(../img/adidas/title/1/images/size.png) no-repeat 0 10px;
	text-align: right;
	cursor: pointer;
}

#size_select{
	
	background: url(../img/adidas/title/1/images/span.png) no-repeat right bottom;
	
}

.number{
	overflow: hidden;
}
.number u{
	float: left;
    width:11px;
    height:11px;
    background: url(../img/adidas/title/1/images/adidas_07.gif);
    margin-left: 10px;
    margin-top: 4px;
    cursor: pointer;
}
.number em{
	float:left;
    width:11px;
    height:11px;
    background: url(../img/adidas/title/1/images/adidas_09.gif);
    margin-left: 5px;
    margin-top:4px;
    cursor: pointer;
    
}
.number input{
	width:25px;
	height:16px;
	border: 1px solid #ddd;
	text-align: center;
	float: left;
    margin-left: 5px;
	
}
.number span{
	margin-top: 2px;
}
.number .num_ch{
	font-size: 12px;
	color: #666;
	margin-left: 10px;
}
.number .red{
	margin-left: 10px;
	font-size: 12px;
	color: red;
}

.buy_link{
	
	margin-top: 20px;
	overflow: hidden;
}
.buy_link .buy_1{
	width:123px;
	height:37px;
	line-height: 37px;
	display: block;
	border:1px solid red;
	color:red;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.buy_link .buy_2{
	width:140px;
	height:39px;
	line-height: 39px;
	display: block;
	background: red;
	color:#fff;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
	
}
.buy_link .sao{
	
	display: block;
	padding-top: 4px;
	height:30px;
	margin-left: 10px;
	width:70px;
	background: url(../img/adidas/title/1/images/adidas_14.gif) no-repeat right bottom;
}
.link{
    position: absolute;
    right: 0;
    bottom: 10px;
	width:100px;
	height:131px;
	
}
.link img{
	width:95px;
	height:95px;
}
.link span{
	height:20px;
	line-height: 20px;
}
.link p{
	font-size: 12px;
	color:#666;
}
.zz{
	color:#666;
	font-size: 12px;
	margin-left: 10px;
	height:25px;
	line-height: 25px;
}

.zy{
	margin-top: 5px;
}
.zy span{
	font-size: 12px;
	color:#666;
	font-weight: bold;
	margin-left: 10px;
	height:50px;
	line-height: 50px;
	float: left;
}

.zy a{
	font-size: 12px;
	color:#999;
	float: left;
	width:90px;
	height:50px;
	line-height: 50px;
	margin-left: 50px;
	text-align: right;
}
.zy .zp{
	background: url(../img/adidas/title/1/images/adidas_21.gif) no-repeat 6px 15px;
	width:80px;
}

.zy .th{
	background: url(../img/adidas/title/1/images/adidas_23.gif) no-repeat 4px 15px;
	
}

.zy .cj{
	background: url(../img/adidas/title/1/images/adidas_26.gif) no-repeat 4px 15px;
	
}
.ad_look {
    height: 16px;
    overflow: hidden;
    position: relative;
}

.ad_look s{
    border-top: 1px dotted #c9c9c9;
    height: 0;
    left: 22px;
    position: absolute;
    text-decoration: none;
    top: 10px;
    width: 150px;
}

.ad_look span {
    background-color: #fff;
    color: #999;
    left: 50%;
    margin-left: -3em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 6em;
    font-size: 12px;
}

.adidas_right{
	margin-left: 10px;
	width:160px;
	float:left;
	position: relative;
	height:635px;
}

.ad_box{
	width:160px;
	height:580px;
	margin-left: 10px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}

.ad_box1{
	width:160px;
	height:4640px;
	position: absolute;
	left:0;
	top:-580px;
}

.ad_box1 ul{	
	width:160px;
	height:580px;
}
.ad_box1 ul li{
	/*margin-top: 2px;*/
	
}
.ad_box1 ul li span{
	float: right;
	
}
.ad_box1 ul li a{
	height:20px;
	line-height: 20px;
	display: block;
	color:#666;
}

.down_1{
	width:26px;
	height:16px;
	background: url(../img/adidas/title/2/down.png);
	position: absolute;
	bottom: 15px;
	left:120px;
	cursor: pointer;
}

.up_1{
	width:26px;
	height:16px;
	background: url(../img/adidas/title/2/up.png);
	position: absolute;
	bottom: 15px;
	left:50px;
	cursor: pointer;
}

#adidas_body{
	
	width: 100%;
	height:286px;
}
.adidas_lb{
	width:1189px;
	height:284px;
	border:1px solid #ddd;
	margin:0 auto;
	margin-top: 20px;
	position: relative;
}
.lb_title{
	color:#666;
	font-size: 14px;
	font-weight: bold;
	text-indent:10px;
	height:20px;
	line-height: 20px;
}
.lb_title span{
	float: right;
	color: #aaa;
	font-size: 12px;
	margin-right: 10px;
}

.adidas_lb .btn1{
	width:14px;
	height:23px;
	position: absolute;
	top:130px;	
	cursor: pointer;
	
}
.lb_left_1{
	left:5px;
	background: url(../img/adidas/title/2/left.png);
}

.lb_right_1{
	right:5px;
	background: url(../img/adidas/title/2/right.png);
}
.btn3{
	width:14px;
	height:23px;
	position: absolute;
	cursor: pointer;
	top:150px;
}
.lb_left{
	
	left:10px;
	background: url(../img/adidas/title/2/left.png);
}

.lb_right{
	
	right:10px;
	background: url(../img/adidas/title/2/right.png);
}

.box1{
	width:1132px;
	height:250px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.box2{
	width:6792px;
	height:250px;
	position: absolute;
	left:-1132px;
	top:0;
}
.box2 ul{
	/*width:1120px;*/
}
.box2 ul li,.xs ul li{
	height:248px;
	width:173px;
	/*border: 1px solid pink;*/
	margin-left: 16px;
	float: left;
}

.box4 ul li{
	height:248px;
	width:173px;
	/*border: 1px solid pink;*/
	margin-left: 15px;
	float: left;
}
.box2 ul li img,.box4 ul li img{
	width:160px;
	height:160px;
	margin-bottom: 10px;
	
}
.box2 ul li a,.xs ul li a,.box4 ul li a{
	color:#666;
	font-size: 12px;

}
.box2 ul li p,.xs ul li p,.lb_1_left p,.box4 ul li p{
	color:red;
	font-size: 14px;
	font-weight: bold;
	height:25px;
	line-height: 25px;
	
}
.box2 ul li p span,.xs ul li p span,.lb_1_left p span,.box4 ul li p span{
	margin-left: 10px;
	font-size: 12px;
	color: #aaa;
	text-decoration: line-through;
	font-weight: normal;
}
.lb_title span  .count{
	color: #aaa;
	font-weight: normal;
	
}

.uiTable {
    border-collapse: collapse;
    display:none;
    zoom: 1;
    width: 782px;
    height:211px;
    overflow: hidden;
    position: absolute;
    left:250px;
    top:330px;
}

.uiTable  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    
    
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.dg_content {
    background: #fff;
    overflow: auto;
    width: 780px; 
    height: 200px;
}

.size_area {
    margin: 0 5px 20px;
    overflow: hidden;
}
.size_area h4 {
    font-weight: normal;
    border-bottom: 1px #999 solid;
    margin-bottom: 10px;
    line-height: 28px;
    font-size: 14px;
    }
    
.size_area table, .size_area td {
    border: 1px #fff solid;
    line-height: 29px;
    text-align: center;
    color: #999;
}
.size_area table {
    background: #f3f3f3;
    width: 100%;
    
}

.uiTitle{
	width:750px;
	height:30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background: red;
	float: left;
	margin-right: 0;
}
.uiClose{
	float: left;
	height:30px;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
    background: red;
    width: 30px;
}
.size_area caption {
    background: #ddd;
    text-align: center;
    font-size: 14px;
    color: #333;
    }
    
.dialogSkin1 .uiClose {
    color: #fff;
    float: right;
    margin: 7px 5px 0 10px;
    padding-left: 16px;
    height: 16px;
    display: block;
    line-height: 16px;
    width:40px;
   
}

.size_area .odd {
    background: #eee;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#adidas_content{
	width:100%;
	overflow: hidden;
}

.ad_con{
	width:1190px;
	margin:0 auto;
	margin-top: 20px;
	/*border:1px solid pink;*/
}

.ad_con_left{
	width:975px;
	float: left;
	
}

.con_left_ti{
	width:975px;
	height:32px;
	border-bottom: 2px solid #cc0011;
	
}
.con_left_ti li{
	height:32px;
	line-height: 32px;
	padding: 0 20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	color: #535353;
	font-size: 14px;
	text-align: center;
	float: left;	
}
.con_left_ti li:first-child{
	border-left: 1px solid #ccc;
}
.ti_list_select{
	
	border-color: #cc0011;
	background: #cc0011;

	
}
.ti_list_select a{
	color: #fff;
	
}
.pro_show img{
	margin-left:115px;
	
}
.gs{
	width:743px;
	margin:0 auto;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}
.gs .title1{
	
	height:27px;
	line-height: 27px;
	color:#595757;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid #595757;
	font-family: '宋体';
}
.text1{
	margin-top: 15px;
}
.text1 img{
	float: left;
}
.text1 .text1_gs{
	float: left;
	width:486px;
	margin-left: 10px;

}
.text1 .text1_gs p{
	font-size: 12px;
	line-height: 22px;
	color: #666;
}
.two{
	margin-top: 20px;
}

.gy{
	margin-top: 15px;
}
.dp_title{
	width:971px;
	height:32px;
	line-height: 32px;
	border-bottom: 2px solid #cc0011;
	
}
.dp_title span{
	float: left;
	padding: 0 20px;
	background:#cc0011 ;
	color: #fff;
	font-size: 14px;
	
}
.dp_title i{
	font-size: 12px;
	color:#aaa;
	float: right;
}
.dp_con{
	width:795px;
	margin:0 auto;
}

.dp_con p{
	font-size: 12px;
	color: #666;
	margin-top: 20px;
	
}
.dp_con .dp1{
	margin-top: 0;
	font-weight: bold;
	margin-bottom: 50px;
}
.dp_con .dp1 a{
	background: #eba62c;
	height:22px;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	width: 80px;
	text-align: center;
	float: right;
	border-radius:5px;
	font-weight: normal;
	margin-right: 570px;
}

.dp_con a{
	color: blue;
	margin-bottom:20px;
}
.gw>img{
	margin-left: 100px;
	margin-top: 20px;
}
.con{
	width:747px;
	margin-left: 100px;
}
.con1 p{
	border-bottom: 1px solid #ddd;
	height:32px;
	line-height: 32px;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}
.con1 img{
	margin-top: 20px;
}
.con1 span{
	font-size: 12px;
	margin:20px 0;
	display: block;
	color: #666;
}

.con1 a{
	color: blue;
	font-size: 12px;
	margin-right: 20px;
}

.ad_con_right{
	margin-top: -30px;
	width:190px;
	float: right;
	
}
.xs{
	width:185px;
	border: 1px solid #ccc;
    padding: 0 0px;
    height:1250px;
    margin-bottom: 20px;
}
.xs ul li img{
	
	width:150px;
}

.xs>span{
	color: #666;
	font-size: 13px;
	display: block;
	font-weight: bold;
	text-indent: 10px;
	height:32px;
	line-height: 32px;
	border-bottom: 1px solid #ddd;
}
.nb{
	height:500px;

}
.nb span{
	height:45px;
	line-height: 45px;
	border-bottom:1px dashed #ddd;
}  
.nb span img{
	margin-left: 40px;
}
.nb p{
	color: #aaa;
	font-size: 12px;
	line-height: 20px;
	padding: 20px 10px;
	/*margin-top: 20px;*/
	border-bottom: 1px dashed #ddd;
}

.nb a{
	display: block;
	height:44px;
	line-height: 44px;
	width:100%;
	text-align: center;
	color: blue;
	
}

#down_lb{
	width:100%;
}

#down_lb .down_lb_1{
	width:1198px;
	margin:0 auto;
	border:1px solid #ddd;
	height:300px;
}

.lb_1_left{
	width:210px;
	height:300px;
	float: left;
	border-right: 1px solid #ddd;
}

.lb_1_left > span{
	width:100%;
	display: block;
	color: #666;
	font-size: 14px;
	text-indent: 10px;
	height:45px;
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	
}
.lb_1_left dl{
	width:210px;
	overflow: hidden;
	margin-top: 22px;
}
.lb_1_left dt{
	width:60px;
	height:60px;
	margin-right: 10px;
	float: left;
	margin-left: 10px;
	
}
.lb_1_left dd{
	float: left;
	
}
.lb_1_right{
	width:983px;
	height:300px;
	float: left;
	position: relative;
}
.lb_1_right .lb_title{
	height:45px;
	line-height: 45px;
}
.lb_1_right .lb_title .n{
	color: #aaa;
}
.box3{
	width:940px;
	overflow: hidden;
	/*border: 1px solid pink;*/
	margin:0 auto;
	position: relative;
	height:255px;
}
.box4{
	width: 4700px;
	height:255px;
	position: absolute;
	left: -940px;
	top:0;
}

#top1{
	width:40px;
	height:40px;
	background: url(../img/adidas/title/5/top.jpg) no-repeat 8px 10px #eee;
	position:fixed;
	right:5px;
	bottom:50px;
	border: 1px solid #ddd;
	display: none;
	cursor: pointer;
}

.none_ewm{
	width:136px;
	height:136px;
	background:#fff ;
	position: absolute;
	font-size: 12px;
	text-align: center;
	bottom: 0;
	right: 0px;
	display: none;
	z-index: 10000;
}
.none_size{
	width:440px;
	height:122px;
	background: #fff;
	position: absolute;
	right:0;
	top:90px;
	z-index: 200000;
	display: none;
	
}
.size_title{
	width:100%;
	height:30px;
	line-height: 30px;
	background: #dd0512;
	color: #fff;
	font-size: 12px;
	text-indent: 10px;
}
.size_title a{
	color: #fff;
	margin-right: 10px;
	float: right;
}
.none_size .size_none_1{
	margin-top: 10px;
	width:400px;
	
}
.none_size .size_none_1 a{
	margin-right: 5px;
	margin-left: 10px;
}
.body1{
	width:100%;
	height:100%;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	position: fixed;
	left: 0;
	top:0;
	z-index: 199999;
	display: none;
}
.size_none_1 span{
	margin-left: 10px;
	margin-top: 3px;
}

.none_size .size_none_1 .true_size{
	float: left;
	width:80px;
	text-align: center;
	margin-top: 10px;
	margin-left: 43px;
	border-radius: 5px;
	height:25px;
	line-height: 25px;
	color: #fff;
	font-size: 12px;
	background: #e70012;
	display: none;
}

.buycar_link{
	width:401px;
	height:335px;
	border: 1px solid #dbdbdb;
	position: absolute;
	left: 400px;
	top:400px;
	background: #fff;
	padding: 0 20px;
	
	z-index: 3000000;
	display: none;

}

.buycar_link  span{
	float: right;
	font-size: 12px;
	color: #8d8b8c;
	margin-right: 5px;
	line-height: 20px;
	height:20px;
	margin-top: 5px;
	cursor: pointer;
}
 .buy_up strong{
	width:33px;
	height:33px;	
	background: url(../img/buycar/ccc.png);
	position: absolute;
	left: 30px;
	top:30px;
	float: left;
	
}

.buy_up{
	width:400px;

	height:165px;
	border-bottom:1px dashed #c6c6c6;
}
.link_fl{
	float: left;
	margin-left: 60px;
	margin-top:35px;
	font-size: 14px;
	color: #5b5758;
	font-weight: bold;
}
.link_fl_2{
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
.link_fl_2 i,.link_fl_2 em{
	color: red;
}
.fl_js{
	width:90px;
	height:28px;
	line-height: 28px;
	background: #e70010;
	color: #fff;
	float: left;
	text-align: center;
	border-radius: 3px;
}
.fl_jx{
	margin-left: 20px;
	float: left;
	color: #5963aa;
	font-weight: normal;
	height: 28px;
	line-height: 28px;
}
.link_fl_3{
	overflow: hidden;
}
.link_fl_4{
	height:40px;
	line-height: 40px;
	color: #a4a4a4;
	font-weight: normal;
	font-size: 12px;
}
.buy_down{
	width:400px;
	height:168px;
}
.buy_down_1 {
	height:31px;
	line-height: 31px;
	font-size: 12px;
	color: #717173;
	
}
.buy_down_1 a{
	float: right;
	color: #606795;
}

.buy_down ul li{
	border: 1px solid #aaa;
	width:90px;
	height:90px;
	float: left;
	margin-right: 5px;
}
.buy_down ul li img{
	width:90px;
	height:90px;
	float: left;
}
.buy_down .ul2{
	display: none;
}
.buy_down ul li strong{
	float: left;
	color: red;
	margin-left: 25px;
	margin-top: 10px;
}
.link_fl .link_fl_2 em,.link_fl .link_fl_2 u{
	font-style: normal;
	text-decoration: none;
	
}
.link_fl_4 i{
	color: #a4a4a4;
}
.price_1 a{
	color: red;
	font-size: 25px;
}

.gwbz{
	display: none;
}
.gwbz .dp_con{
	width:998px;
	
}
.gwbz .dp_con .dp1{
	margin-right: 200px;
}


.spdp{
	width:798px;
	float: left;
	display: none;
}

.thh{
	margin-left: 20px;
	float: left;
	display: none;
	
}
.zf{
	float: left;
	display: none;
}
.by{
	float: left;
	margin-left: 40px;
	margin-top:20px ;
	display: none;
	
}
