#wrap-footer{
	width: 100%;
	border: 1px solid #eee;
	height:209px;
	margin-top: 15px;
	background: #f4f4f4;
}
.footer{
	width:1200px;
	margin: 0 auto;
}
.footer .footer_list{
	border: 1px solid #dddddd;
	margin: 0 auto;
	margin-top:10px;
	height:48px;
	padding: 0 90px;
}
.footer .footer_list li{
	float: left;
	height:48px;
	line-height: 48px;
	padding: 0 70px;
	text-align: center;
	font-size: 18px;
}
.footer .footer_list li span{
	color: red;
}
.footer .footer_list li a{
	color: #666;
	font-size: 18px;
}
.footer .footer_list li:first-child{
	background: url(../img/footer/footer_03.gif) no-repeat 30px center;
	
}
.footer .footer_list li:nth-child(2){
	background: url(../img/footer/footer_08.gif) no-repeat 30px center;
	
}
.footer .footer_list li:nth-child(3){
	background: url(../img/footer/footer_10.gif) no-repeat 25px center;
	
}
.footer .footer_list li:nth-child(4){
	background: url(../img/footer/footer_05.gif) no-repeat 25px center;
	
}

.footer .footer_left{
	margin-top: 16px;
	float: left;
}
.footer .footer_left dl{
	width:153px;
	float: left;
	

}
.footer .footer_left dl dt{
	color: #666;
	font-size: 13px;
	height:30px;
	line-height: 30px;
	font-weight: bold;
	
}
.footer .footer_left dl dd a{
	display: block;
	color: #666;
	font-size: 12px;
	height:22px;
	line-height: 22px;
}

.footer .footer_left .last .inline{
	
	height:32px;
	line-height: 32px;
	text-indent: 25px;
	background: url(../img/footer/footer_27.gif) no-repeat 0 center;
}

.footer .footer_left .last p{
	
	color: #666;
	font-size: 12px;
	width: 200px;
	height:18px;
	line-height: 18px;
}
.footer .footer_left .last p span{
	
	color: red;
}
.footer .footer_right{
	float: left;
}
.footer .footer_right .phone{
	float: left;
	margin-left: 60px;
	margin-top: 14px;
}

.footer .footer_right .phone p .sj{
	display: block;
	text-align: center;
	background: url(../img/footer/footer_17.gif) no-repeat 65px 0;
}
.footer .footer_right .wx{
	float: left;
	margin-left: 60px;
	margin-top: 10px;
	
}

.footer_right p{
	height:15px;
	line-height: 15px;
	text-align: center;
}

#warp-right{
	width:100%;
	background: #000;
	height:105px;
	border-bottom: 5px solid #1f1c09;
	margin-bottom:5px ;
	
}
.right1{
	width:1200px;
	margin: 0 auto;
	height: 105px;
	background: url(../img/footer/footer_36.gif) no-repeat 20px center;
}
.right_list{
	float: right;
	/*margin-right: 40px;*/
	margin-top: 5px;
}
.right_list li{
	float: left;
	cursor: pointer;

    
}
.right_list li a{
	display: block;
	font-family: "宋体";
	color: #fff;
	padding: 0 9px 0 7px;
	font-size: 13px;
	height:13px;
	line-height: 13px;
	background: url(../img/footer/border_03.gif) no-repeat right 1px;
	
}
.right_list li:last-child a{
	background: none;
	
}
.right1 .Copyright{
	color: #fff;
	float: right;
	font-size: 12px;
	height:30px;
	line-height: 30px;
	margin-right: 8px;
	font-family: Arial,"宋体";
	background: url(../img/footer/footer_33.gif) no-repeat 820px center;
	
	
}
.right1 .Copyright a{
	color: #fff;
	font-size: 13px;
	font-family: "宋体";
	
}
.right_img{
	float: right;
	margin-right: 8px;
	margin-top: 10px;
	
}
.police{
	margin-left: 25px;
}


